<%- include('include/head') %>
<%- include('include/nav') %>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
            <h1 class="display-1 text-center">Hello user</h1>
            <p class="text-center lead"> You are welcome</p>
            <%- include('include/messages.ejs') %>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
<%- include('include/footer') %>